<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% if messages %} {% for message in messages %}
    <div>
        <!--                | means OR operator-->
        <strong>{{message|safe}}</strong>
    </div>
    {% endfor %} {% else %} {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts xlsx files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %} {% if columns%}

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="border-spacing: 10px;">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for a in rows %}
            <tr>
                <td>{{ a.Typ }}</td>
                <td>{{ a.Nr}}</td>
                <td>{{ a.Namn}}</td>
                <td>{{ a.Address1}}</td>
                <td>{{ a.Address3}}</td>
                <td>{{ a.Address4}}</td>
                <td>{{ a.Address5}}</td>
                <td>{{ a.Telefon}}</td>
                <td>{{ a.ADDRESS}}</td>
                <td>{{ a.latitude}}</td>
                <td>{{ a.longitude}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</body>

</html>